<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>

<div class='well'>
  <dl class='dl-horizontal'>
    <dt>Username:</dt>
    <dd><%= @user.username %></dd>
    <dt>Time Zone:</dt>
    <dd><%= @user.time_zone %></dd>
  </dl>
</div>

<h5><%= @user.username %>'s Activity</h5>
<ul class='nav nav-tabs'>
  <li class='<%= "active" unless params[:tab] %>'>
    <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
  </li>
  <li class='<%= "active" if params[:tab] %>'>
    <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
  </li>
</ul>

<div>
  <%= render params[:tab] ? sort_by_vote(@user.comments) : sort_by_vote(@user.posts) %>
</div>
